{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Inicio</title>

    <link rel="stylesheet" href="{% static 'blog/style.css' %}?v=2">

</head>

<body>

<div class="menu-container">

    <h1>
        Catálogo Gamer
    </h1>

    <a href="{% url 'crear_post' %}">
        <button class="menu-button">
            🎮 Agregar videojuego
        </button>
    </a>

    <a href="{% url 'catalogo' %}">
        <button class="menu-button">
            📚 Catálogo de juegos
        </button>
    </a>

</div>

</body>
</html>